.minh-650 {
  min-height: 650px;
}

.navbar {
  font-family: "Merriweather", serif;
}

.main-font {
  font-family: "Cabin", sans-serif;
}

.btn-custom,
.btn-custom-dis {
  background-color: rgb(201, 123, 78) !important;
  color: black !important;
}

.btn-custom:hover {
  background-color: rgb(214, 95, 25) !important;
  color: black !important;
}

.card {
  padding: 4px;
  background-image: url(./bgi.jpg);
}
.rounded {
  max-height: 38vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navbar,
.footer {
  background-color: #3c3b5a;
}

.navbar-custom .navbar-brand {
  color: rgb(201, 123, 78);
  font-size: 2em !important;
}
.navbar-custom .navbar-brand:hover {
  color: #a65a3f;
}
.nav-link,
.footer {
  color: #c97b4e;
}
.nav-link:hover {
  color: #a65a3f;
}

.link {
  color: rgb(241, 86, 14);
  font-size: 1.3em;
}
.link:hover {
  color: rgb(221, 117, 69);
}

.heart {
  font-size: 1.7em;
}

@media (max-width: 1024px) {
  .test {
    max-height: 26vh;
  }
}
@media (max-width: 825px) {
  .test {
    max-height: 25vh;
  }
}
@media (max-width: 680px) {
  test {
    height: 75vh;
  }
}
